@page "/"

<PageTitle>Index</PageTitle>

<h1>Hero Icons</h1>

<TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="w-10 h-10" />
<TimeWarp.HeroIcons.Solid.AcademicCapIcon class="w-10 h-10" />
<TimeWarp.HeroIcons.Outline.AcademicCapIcon class="w-10 h-10" />

<TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="w-10 h-10" />
<TimeWarp.HeroIcons.Solid.AcademicCapIcon class="w-20 h-20" />
<TimeWarp.HeroIcons.Outline.AcademicCapIcon class="w-20 h-20" />

<h1>Colors</h1>

<TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="w-10 h-10 text-red-500" />
<TimeWarp.HeroIcons.Solid.AcademicCapIcon class="w-10 h-10 text-red-500" />
<TimeWarp.HeroIcons.Outline.AcademicCapIcon class="w-10 h-10 text-red-500" />

<TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="w-10 h-10 text-red-500" />
<TimeWarp.HeroIcons.Solid.AcademicCapIcon class="w-20 h-20 text-red-500" />
<TimeWarp.HeroIcons.Outline.AcademicCapIcon class="w-20 h-20 text-red-500" />

<h1>With dark bg</h1>
<div class="bg-black p-20">
    <TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="w-10 h-10 text-white" />
    <TimeWarp.HeroIcons.Solid.AcademicCapIcon class="w-10 h-10 text-white" />
    <TimeWarp.HeroIcons.Outline.AcademicCapIcon class="w-10 h-10 text-white" />

    <TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="w-10 h-10 text-white" />
    <TimeWarp.HeroIcons.Solid.AcademicCapIcon class="w-20 h-20 text-white" />
    <TimeWarp.HeroIcons.Outline.AcademicCapIcon class="w-20 h-20 text-white" />
</div>
