@page "/"

<PageTitle>Index</PageTitle>

<h1>Hero Icons</h1>

<TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon />
<TimeWarp.HeroIcons.Solid.AcademicCapIcon />
<TimeWarp.HeroIcons.Outline.AcademicCapIcon />


<TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="w-10 h-10" />
<TimeWarp.HeroIcons.Solid.AcademicCapIcon class="w-20 h-20" />
<TimeWarp.HeroIcons.Outline.AcademicCapIcon class="w-20 h-20" />