@page "/"

<PageTitle>Index</PageTitle>

<h1>Hero Icons</h1>

<TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon />
<TimeWarp.HeroIcons.Solid.AcademicCapIcon />
<TimeWarp.HeroIcons.Outline.AcademicCapIcon />

<TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="w-10 h-10" />
<TimeWarp.HeroIcons.Solid.AcademicCapIcon class="w-20 h-20" />
<TimeWarp.HeroIcons.Outline.AcademicCapIcon class="w-20 h-20" />


<h1 class="my-10 font-bold">Colors</h1>
<TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="text-red-500" />
<TimeWarp.HeroIcons.Solid.AcademicCapIcon class="text-red-500" />
<TimeWarp.HeroIcons.Outline.AcademicCapIcon class="text-red-500" />
<TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="w-10 h-10 text-red-500" />
<TimeWarp.HeroIcons.Solid.AcademicCapIcon class="w-20 h-20 text-red-500" />
<TimeWarp.HeroIcons.Outline.AcademicCapIcon class="w-20 h-20 text-red-500" />


<h1 class="my-10 font-bold">Colors with black background.</h1>
<div class="max-w-3xl bg-black">
    <div class="p-20">
        <TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="text-white" />
        <TimeWarp.HeroIcons.Solid.AcademicCapIcon class="text-white" />
        <TimeWarp.HeroIcons.Outline.AcademicCapIcon class="text-white" />
        <TimeWarp.HeroIcons.Mini.Solid.AcademicCapIcon class="w-10 h-10 text-white" />
        <TimeWarp.HeroIcons.Solid.AcademicCapIcon class="w-20 h-20 text-white" />
        <TimeWarp.HeroIcons.Outline.AcademicCapIcon class="w-20 h-20 text-white" />
    </div>
    
</div>